html.dark {
  --text-color: #fff;
  --icon-color: brightness(0) saturate(100%) invert(100%) sepia(0%)
    saturate(7478%) hue-rotate(281deg) brightness(101%) contrast(109%);

  --header-bg-color: #171c28;
  --top-act-group-bg-color: #292e39;
  --top-act-group-shadow: 0 20px 60px 10px rgba(0, 0, 0, 0.2);
  --top-act-group-separate: #ededf6;

  --body-bg: #292e39;
}
