@use "../abstracts";

%flexItemCenter {
  display: flex;
  align-items: center;
}

.header {
  background-color: var(--header-bg-color);
}

.top-bar {
  @extend %flexItemCenter;
  position: relative;
  padding: 30px 0;

  @include abstracts.breakpoint(lg) {
    padding: 20px 0;
  }

  @include abstracts.breakpoint(md) {
    justify-content: space-between;
  }

  @include abstracts.breakpoint(sm) {
    padding: 16px 0;
  }

  &__more {
    display: none;
  }

  &__more {
    @include abstracts.breakpoint(lg) {
      display: block;
    }
  }
}

.navbar {
  margin-left: 144px;

  @include abstracts.breakpoint(xl) {
    margin-left: 50px;
  }

  @include abstracts.breakpoint(lg) {
    display: none;
  }

  &__list {
    @extend %flexItemCenter;
  }

  &__link {
    @extend %flexItemCenter;
    height: 50px;
    gap: 6px;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.5;
    padding: 0 15px;
  }

  &__arrow {
    margin-top: 3px;
  }

  &__item {
    &:hover .dropdown {
      visibility: visible;
      opacity: 1;
    }

    &:first-child a {
      padding-left: 0;
    }

    &:last-child a {
      padding-right: 0;
    }
  }
}

.top-act {
  margin-left: auto;
  @extend %flexItemCenter;
  gap: 20px;

  @include abstracts.breakpoint(md) {
    margin-left: 0px;
  }

  &__group {
    flex: 0 0 auto;
    @extend %flexItemCenter;
    justify-content: center;
    border-radius: 8px;
    background: var(--top-act-group-bg-color);
    box-shadow: var(--top-act-group-shadow);
    min-width: 50px;
    height: 50px;
  }

  &__group {
    @include abstracts.breakpoint(md) {
      display: none;
    }
  }

  &__group--single {
    @include abstracts.breakpoint(lg) {
      display: none;
    }
  }

  &__group--single &__btn {
    padding: 13px;
  }

  &__btn {
    padding: 10px 20px;
    @extend %flexItemCenter;
    gap: 10px;
  }

  &__title {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.5;
  }

  &__separate {
    width: 1px;
    height: 30px;
    background: var(--top-act-group-separate);
  }

  &__avatar {
    display: block;
    width: 50px;
    height: 50px;
    cursor: pointer;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 4px 14px 2px rgba(0, 0, 0, 0.08);
  }
}
