@use "../abstracts";

%flexItemCenter {
  display: flex;
  align-items: center;
}

.header {
  background-color: var(--header-bg-color);

  @include abstracts.breakpoint(lg) {
    box-shadow: var(--header-shadow-color);
  }
}

.top-bar {
  @extend %flexItemCenter;
  position: relative;
  padding: 30px 0;

  @include abstracts.breakpoint(lg) {
    padding: 20px 0;
  }

  @include abstracts.breakpoint(md) {
    justify-content: space-between;
  }

  @include abstracts.breakpoint(sm) {
    padding: 16px 0;
  }

  &__more {
    display: none;
  }

  &__more {
    @include abstracts.breakpoint(lg) {
      display: block;
    }
  }
}

.navbar {
  margin-left: 129px;

  @include abstracts.breakpoint(xl) {
    margin-left: 29px;
  }

  @include abstracts.breakpoint(lg) {
    position: fixed;
    inset: 0 50% 0 0;
    background-color: #fff;
    margin-left: 0;
    z-index: 9;
    padding: 40px;
    translate: -100%;
    transition: 0.5s ease translate;

    &.show {
      translate: 0;
    }

    &.show ~ &__overlay {
      visibility: visible;
      opacity: 1;
    }

    &__close-btn {
      padding: 10px 0;
    }
  }

  @include abstracts.breakpoint(sm) {
    inset: 0 12% 0 0;
    padding: 20px;
  }

  &__overlay {
    visibility: hidden;
    opacity: 0;

    @include abstracts.breakpoint(lg) {
      position: fixed;
      inset: 0;
      background: rgba($color: #000, $alpha: 0.4);
      z-index: 8;
      transition: 0.5s ease visibility, 0.5s ease opacity;
    }
  }

  &__list {
    @extend %flexItemCenter;

    @include abstracts.breakpoint(lg) {
      flex-direction: column;
      align-items: flex-start;
      height: auto;
      max-height: calc(100% - 40px);
      overflow-y: auto;
      overscroll-behavior: contain;
      scrollbar-width: none;
    }
  }

  &__link {
    @extend %flexItemCenter;
    height: 50px;
    gap: 6px;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.5;
    padding: 0 15px;

    & + .dropdown {
      height: 0px;
      overflow: hidden;
      visibility: hidden;
      opacity: 0;
      transition: 0.3s ease visibility, 0.3s ease opacity;
    }

    @include abstracts.breakpoint(lg) {
      padding: 0;
      font-size: 1.6rem;
      justify-content: space-between;

      & .navbar__arrow {
        rotate: -90deg;
      }

      &.active .navbar__arrow {
        rotate: 0deg;
      }

      & + .dropdown {
        height: 0px;
        overflow: hidden;
        visibility: hidden;
        opacity: 0;
        transition: 0.3s ease visibility, 0.3s ease opacity, 0.3s ease height;
      }

      &.active + .dropdown {
        overflow: visible;
        visibility: visible;
        opacity: 1;
      }
    }
  }

  &__arrow {
    margin-top: 3px;
  }

  &__item {
    @include abstracts.breakpoint(lg) {
      width: 100%;
    }
  }
}

.top-act {
  margin-left: auto;
  @extend %flexItemCenter;
  gap: 20px;

  @include abstracts.breakpoint(md) {
    margin-left: 0px;
  }

  &__group {
    flex: 0 0 auto;
    @extend %flexItemCenter;
    justify-content: center;
    border-radius: 8px;
    background: var(--top-act-group-bg-color);
    box-shadow: var(--top-act-group-shadow);
    min-width: 50px;
    height: 50px;
  }

  &__group--single &__btn {
    padding: 13px;
  }

  &__btn {
    padding: 10px 20px;
    @extend %flexItemCenter;
    gap: 10px;
  }

  &__title {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.5;
  }

  &__separate {
    width: 1px;
    height: 30px;
    background: var(--top-act-group-separate);
  }

  &__avatar {
    display: block;
    width: 50px;
    height: 50px;
    cursor: pointer;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 4px 14px 2px rgba(0, 0, 0, 0.08);
  }
}
