.header {
  background-color: #eee;
}

.top-bar {
  display: flex;
  align-items: center;
  padding: 30px 0;
}

.navbar {
  margin-left: 144px;

  &__list {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 6px;
    color: #1a162e;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.5;
  }

  &__arrow {
    margin-top: 3px;
  }
}

.top-act {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 20px;

  &__group {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 20px 60px 10px rgba(237, 237, 246, 0.2);
    min-width: 50px;
    height: 50px;
  }

  &__group--single &__btn {
    padding: 13px;
  }

  &__btn {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__title {
    color: #1a162e;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.5;
  }

  &__separate {
    width: 1px;
    height: 30px;
    background: #ededf6;
  }

  &__avatar {
    display: block;
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 4px 14px 2px rgba(0, 0, 0, 0.08);
  }
}
