@use "../abstracts";

$dropdown-height: min(582px, calc(100vh - 158px));
$dropdown-padding: 30px;
$main-column-width: 292px;

.dropdown {
  width: min(1240px, 100%);
  position: absolute;
  left: 0;
  padding-top: 54px;
  visibility: hidden;
  opacity: 0;
  transition: 0.25s ease visibility, 0.25s ease opacity;

  &__inner {
    max-height: $dropdown-height;
    position: relative;
    border-radius: 20px;
    background: var(--dropdown-bg-color);
    box-shadow: var(--dropdown-shadow-color);
    padding: $dropdown-padding;

    &::before {
      content: url("../icons/dropdown-arrow.svg");
      position: absolute;
      top: -13px;
      left: var(--arrow-left-pos);
      transform: translateX(-50%);
      filter: var(--dropdown-arrow-color);
    }
  }
}

.top-menu {
  position: relative;

  &__main {
    max-height: calc(#{$dropdown-height} - #{$dropdown-padding} * 2);
    width: $main-column-width;
    border-right: 1px solid var(--top-menu-border-color);
    overflow-y: auto;
  }
}

.sub-menu {
  position: absolute;
  inset: 0 0 0 $main-column-width;
  padding-left: $dropdown-padding;
  display: flex;
  column-gap: 77px;
  visibility: hidden;
  opacity: 0;
  transition: 0.25s ease visibility, 0.25s ease opacity;
  max-height: calc(#{$dropdown-height} - #{$dropdown-padding} * 2);
  overflow-y: auto;

  &__column {
    display: flex;
    flex-direction: column;
    gap: calc(#{$dropdown-padding} - 9px);
  }
}

.menu-column {
  display: flex;
  gap: 14px;

  &__item:first-child > &__link {
    padding-top: 0px;
  }

  &__item:last-child > &__link {
    padding-bottom: 0px;
  }

  &__item:hover,
  &__item--active {
    & > .menu-column__link {
      color: #0071dc;
      text-shadow: 0.4px 0 0 currentColor;
    }

    & > .sub-menu {
      visibility: visible;
      opacity: 1;
    }
  }

  &__heading {
    margin-top: 6px;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.5;
  }

  &__icon {
    flex: 0 0 auto;
    width: 36px;
    height: 36px;
    position: relative;

    @include abstracts.breakpoint(xl) {
      display: none;
    }
  }

  &__icon-1 {
    width: 30px;
    height: 30px;
    object-fit: contain;
  }

  &__icon-2 {
    width: 24px;
    height: 24px;
    position: absolute;
    right: 0;
    bottom: 0;
    object-fit: cover;
    filter: var(--menu-column-icon-color);
  }

  &__content {
    flex: 1 1 auto;
  }

  &__list {
    margin-top: 26px;
  }

  &__link {
    display: block;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2rem;
    padding: 7px 0;
  }
}
