*,
::before,
::after {
  box-sizing: border-box;
  scrollbar-width: none;
}

a,
img,
button,
input,
textarea,
select {
  font-family: inherit;
  color: inherit;
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: Gordita, sans-serif;
  color: var(--text-color);
  background-color: var(--body-bg);
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  outline: none;
  padding: 0px;
  background-color: transparent;
  cursor: pointer;
}

.icon {
  filter: var(--icon-color);
}
